---
import EmailShareButton from "./Email.astro";
import FacebookShareButton from "./Facebook.astro";
import HackerNewsShareButton from "./HackerNews.astro";
import LinkedInShareButton from "./LinkedIn.astro";
import RedditShareButton from "./Reddit.astro";
import TwitterShareButton from './Twitter.astro';

export interface Props {
  url?: string;
  title?: string;
  description?: string;
  via?: string;
  color?: string;
}

const { url=Astro.request.url, title, description, via} = Astro.props;

---
<style>
    div {
        margin: 20px 0px;
    }
</style>
<div class="social-share">
    <TwitterShareButton 
        url={url}
        description={description}
        via={via}
    />
    <FacebookShareButton 
        url={url}
    />
    <HackerNewsShareButton
        url={url}
        title={title}
    />
    <LinkedInShareButton
        url={url}
    />
    <RedditShareButton
        url={url}
        title={title}
    />
    <EmailShareButton
        url={url}
        title={title}
        description={description}
    />
</div>